@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}
@model GradeCalculatorModel

<div class="container text-center">
    <!-- Grade Calculator Form -->
    <h4>Grade Calculator</h4>
    <form method="post">
        <label>Assignments</label>
        <input type="number" id="assignment_perc" asp-for="Assignments" />
        <br />

        <label>Quizzes</label>
        <input type="number" id="quizzes_perc" asp-for="Quizzes" />
        <br />

        <label>Group Projects</label>
        <input type="number" id="group_projects_perc" asp-for="Projects" />
        <br />

        <label>INTEX</label>
        <input type="number" id="Intex_perc" asp-for="INTEX" />
        <br />

        <label>Final Exam</label>
        <input type="number" id="final_exam_perc" asp-for="Final" />
        <br />

        <label>Midterm Exam</label>
        <input type="number" id="mid_exam_perc" asp-for="Midterm" />
        <br />
        <br />

        <input id="btnSend" type="submit" value="Submit" />
        <br />
        <br />
        <div asp-validation-summary="All"></div>

        <h5 id="final_percent"><b></b></h5>
        <h5 id="letter_grade"><b></b></h5>
        <br />
        <br />
    </form>
</div>
